.Loader {
  & svg {
    margin: 0 auto;
    width: 100%;
  }
}

.Header {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.HostHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5em;

  h1 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
  }
}

.SubHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}



.Players {
  padding-top: 2px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(160px, 1fr);

  & div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
  }

  & div {
    justify-content: center;
    display: inline-flex;

    & svg {
      height: 100%;
    }
  }
}
