$green: #7ceaa4;
$purple: #3b3d54;

.App-wrapper {
  perspective-origin: 50% 50%;
}

.App-join {
  max-width: 600px;
  margin: 3% auto;
  padding: 30px;
  border-radius: 3px;
  text-align: center;
  font-size: 1.4vw;

  &-prompt {

  }
}

.floating-card {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;
}


// Floating cards icons
$total: 12;

@for $i from 1 through $total {
  $scale: random(2) - .4;

  .floating-card:nth-child(#{$i}) {
    left: random(120) * 1% - 20;
    animation: raise#{$i} 6 + random(15) +s linear infinite;
    animation-delay: random(5) - 5 + s;
    transform: scale(.3 * $i - .6) rotate(random(360) + deg);
    z-index: $i - 7;
    filter: blur($i - 6 + px);

    @keyframes raise#{$i} {
      to {
        bottom: 150vh;
        transform: scale(.3 * $i - .6) rotate(random(360) + deg);
      }
    }
  }
}
