.Wrapper {
  perspective-origin: 50% 50%;
}

.Prompt {
  flex-grow: 1;
}

.Container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 1em;

  display: flex;
  flex-direction: column;
  height: 100%;

  border-radius: 3px;
  text-align: center;
  font-size: 1.4vw;

  & p {
    color: white;
    font-size: 15px;

    & a {
      color: dodgerblue;
    }
  }

  @media (max-width: 600px) {
    padding-top: 4em;
    margin: 0 2em;
  }
}

.floatingCard {
  width: 64px;
  height: 64px;
  position: absolute;
  bottom: -100vh;
  transform-style: preserve-3d;

  @media (max-width: 600px) {
    width: 32px;
    height: 32px;
  }
}


$green: #7ceaa4;
$purple: #3b3d54;


// Floating cards icons
$total: 12;

@for $i from 1 through $total {
  $scale: random(2) - .4;

  .floatingCard:nth-child(#{$i}) {
    left: random(120) * 1% - 20;
    animation: raise#{$i} 6 + random(15) +s linear infinite;
    animation-delay: random(5) - 5 + s;
    transform: scale(.3 * $i - .6) rotate(random(360) + deg);
    z-index: $i - 7;
    filter: blur($i - 6 + px);

    @keyframes raise#{$i} {
      to {
        bottom: 150vh;
        transform: scale(.3 * $i - .6) rotate(random(360) + deg);
      }
    }
  }
}
