.Container {
  background-color: transparent;
  border-radius: 12px;
  user-select: none;

  height: 200px;

  width: 9em;
  min-width: 9em;
  display: flex;
  align-items: center;
  justify-content: center;

  & img {
    width: 100%;
    height: 100%;
  }
}
