.Container {
  text-align: center;
  color: rgba(172, 170, 190, 1);
  height: 100%;
  display: flex;
  flex-direction: column;


  & .Header {
    height: 72px;
    font-family: 'Cabin', sans-serif;
    padding: 0 12px 0 8px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;

    & h2 {
      flex: 0 1 auto;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  & .Chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & .ChatBox {
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      .Messages {
        flex-grow: 1;
        min-height: 100%;
        text-align: left;

        & .Message {
          padding: 0.3em 0.5em;
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          line-height: 14px;

          & span {
            font-size: 12px;
            font-family: 'Noto Sans', sans-serif;
            font-weight: lighter;
            padding-right: 8px;
          }

          & b {
            font-weight: bolder;
          }

          & p {

            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            flex-grow: 1;
            margin: 0 !important;
          }
        }

      }
    }

    & .ChatActions {
      margin-top: 0.5em;
      display: flex;
      justify-content: center;
    }
  }
}
