.Logo {
  h2 {
    font-family: 'Playfair Display', serif !important;
    margin: 0;
    font-weight: 900;
    font-style: italic;
    color: #dad8ec;

    @media (max-width: 600px) {
      font-size: 40px !important;
    }
  }
}
