.Card {
  background: transparent;
  padding: 0 !important;
  font-size: 72px;
  margin: auto 5px;
  height: 96px !important;
  width: 25%;
  max-width: 80px;
  border: 2px solid black;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;

  &:hover {
    cursor: pointer;
    color: #3f51b5;
  }

  &.Selected {
    cursor: default;
    border-color: #3f51b5;
    color: #3f51b5;
  }
}
