.Container {
  background-color: transparent;
}

.Dialog {
  padding: 1em 5em;
  border-radius: 8px;
  background: #3b3d54;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #acaabe;

  & h2 {
    font-size: 52px;
    margin-bottom: 0.5em;
  }

  & .Buttons {
    display: flex;
    flex-direction: row;
    width: inherit;
    justify-content: space-evenly;

    & button {
      margin: 0 0.5em;
    }
  }
}

.Avatar {
  width: 80px !important;
  height: 80px !important;

  color: white;
  background-color: #1a1d3d !important;
  border: 2px gold solid;

  svg {
    width: 60px;
    height: 60px;
  }
}
