.Container {
  padding-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    margin: 0;
  }
}

.Avatar {
  width: 64px !important;
  height: 64px !important;
  color: white !important;
  background: #1a1d3d !important;
  border: 2px white solid;
}
