.Dashboard {
  text-align: center;

  h1 {
    font-size: 40px;
  }

  & .Games {
    text-align: left;
    margin: 0 auto;
    min-width: 300px;
    max-width: 800px;

    h2 {
      font-size: 24px;
    }
  }
}
