.Name {
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  line-height: 28px;
  font-size: 28px;
  font-weight: bold;
  text-align: center;

  & div {
    flex-grow: 1;
    alignment-baseline: center;

    & svg {
      margin-left: 8px;
    }
  }

  & .Button {
    color: transparent;
    margin: 2px;
  }

  &:hover {
    .Button {
      transition: color 0.15s ease-in-out;
      background: transparent !important;
      color: rgba(172, 170, 190, 1);
      display: inline-flex;
    }
  }
}
