.Container {
  text-align: center;

  & b {
    user-select: none;
    font-size: 20px;
  }
}

.TrumpCard {
  user-select: none;
  cursor: auto;
  position: absolute;
  z-index: 0;
  transform: rotate(90deg) translateY(40px);
}

.TopCard {
  user-select: none;
  cursor: auto;
  position: relative;
  z-index: 1;
}
